# Firebase QA
FIREBASE_API_KEY=AIzaSyCUuAn3uxF309gRWBrb2Y0TwHRkbEVeNbE
FIREBASE_AUTH_DOMAIN=aguilas-seguridad-qa.firebaseapp.com
FIREBASE_DATABASE_URL=https://aguilas-seguridad-qa-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=aguilas-seguridad-qa
FIREBASE_STORAGE_BUCKET=aguilas-seguridad-qa.appspot.com
FIREBASE_MESSAGING_SENDER_ID=1048404025912
FIREBASE_APP_ID=1:1048404025912:web:3c933b2f75fe110712bccd
MEASUREMENT_ID=

# Backend Local
EXPO_PUBLIC_API_URL=http://localhost:8010/
